.body {  
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#352724)) fixed;
    text: white;
    width:device-width;
    margin: 0;
    height: 100%;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #61271A;
    width:100%;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liPaginator {    
    color: white;
    padding: 14px 16px;
}

.liPaginator a{    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.ul .ulPaginator {    
    text-align:center;   
}

.liPaginator a:hover {
    background-color: #61271A;
}

.li a:hover {
    background-color: #61271A;
}

.container {
    width:device-width;
    heigth:100%;
    left:20%;
    right:100%;
}

.container .containerMainButtons{    
    text-align: center;
    margin-top:140px;

}

.h2 {
    text-decoration:none;
    text-align:center;
    margin-top:60px;	    
}

.button {
    background-color: #352724;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;    
}



.divTable{
	width: 100%;
    	height: 700px;
	overflow: scroll;
	align:center;
}

.tableContent{
	align:center;
}

.tableForm{
	display:inline-table;
	align:center;
}

.buttonfilter{
    background-color:#352724;
    border:none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
}

.th{
    border-collapse: collapse;
    border:1px solid black;
}

.tr {
    text-align: center;
}

.trheader {
	background-color: #61271A;
}

.tr:hover {
    background-color: #61271A;
}
