{% extends 'base.html' %}
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1">
    <meta name="description" content="Controlul Locuintei">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Controlul Locuintei{% block title %}{% endblock %}</title> 
    
    <header>
        <div class="container">
                <ul class="ul">
                            <li class="li"><a href="{% url 'home' %}"><font face="Euphemia">DESPRE</font></a></li>
                            <li class="li"><a href="{% url 'interface:render_info_page' %}"><font face="Euphemia">INFO</font></a></li>
                            <li class="li"><a href="{% url 'interface:render_control_page' %}"><font face="Euphemia">CONTROL</font></a></li>
		</ul>
        </div>
    </header>
    {% endblock %}
 	{% block content %}
        <form action="" class="form-inline" method="post" style="text-align:center">
        {% csrf_token %}
	<ol style="list-style:none;">{{ form }} </ol>
        {% if messages %}
           {% for message in messages %}
                 <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  {{ message }}
                        </div>
                     
           <div class="h2">
           <a href="{% url 'interface:add_new_phone_number' %}" class="buttonfilter">Adaugare alt numar de telefon </a></div>
            {% endfor %}
        {% else %}
      <input type="submit" value="Actualizeaza numarul" class="buttonfilter" style="align:center;">
      </form>
        {% endif %}
        </form>
    <br><br> 
    
{% endblock %}
